body {
    background-size: cover; 
    background-position: center;
}

.heading
{
font-size: 40px;
width: fit-content;
margin: 10px;
}

#status
{
font-size: 18px;
}
button {
    font-size: 30px;
    width: fit-content;
    margin: 10px;
    color: black;
    background-color: white;
    border-radius: 75px;
}

button:hover {
    font-size: 25px;
    width: fit-content;
    margin: 10px;
    color: white;
    background-color: black;
    border-radius: 75px;
}